<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>About <span class="green-text">Your</span> Diary</h1>
            <p>A Simple Application To Maintain your.</p>
        </div>

        <%- include('./layout/Footer') %>