<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>Welcome to <span class="green-text">Your</span> Diary</h1>
            <p>Record Your Daily Life</p>
            <a href="/diary">Open Your Diary</a>
        </div>

        <%- include('./layout/Footer') %>